In [1]:
#floor division // gives the number of times a number is divided
15//3

5

In [2]:
#modulus gives the reminder
13%2

1

In [7]:
names=['john','mae','tina','cosy']
names

['john', 'mae', 'tina', 'cosy']

In [4]:
#tuple is a list that cant be modified, it uses round brackets
name=('john','mae','tina','cosy')
name

('john', 'mae', 'tina', 'cosy')

In [ ]:
students

In [9]:
for name in names:
    print (name)
else:
    print('2')

john
mae
tina
cosy
2